.tk-acuta
{
	color: white;
	font-size: 16pt;
}

.slideheader
{
	font-size: 40pt;
	width: 600px;
}

.slide
{
	width: 100%;
	position: relative;
	height: 640px;
}

.saber-button
{
	color: white;
}

a,
a:visited
{
	color: #3BB9FF;
	text-decoration: none;
}

a:hover
{
	color: #ADDFFF;
	text-decoration: none;
}

div.fadehover {
	position: relative;
	display:block;
	}
 
img.a {
	position: absolute;
	left: 0;
	top: 0;
        z-index: 10;
	}
 
img.b {
	position: absolute;
	left: 0;
	top: 0;
	}